<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.magicbusapp.magicbus" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".MBApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MBAuthenticationActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" >

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/FACEBOOK_APP_ID" />

        <activity android:name="com.facebook.LoginActivity" >
        </activity>
        <activity
            android:name=".MBWizardActivity"
            android:label="@string/title_activity_mbwizard"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MBAccediActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MBAuthenticationActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MBAuthenticationActivity" />
        </activity>
        <activity
            android:name=".MBRegistrationActivity"
            android:label="@string/title_activity_mbregistration"
            android:parentActivityName=".MBAuthenticationActivity"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MBAuthenticationActivity" />
        </activity>
        <activity
            android:name=".MBRecuperaPasswordActivity"
            android:label="@string/title_activity_mbrecupera_password"
            android:parentActivityName=".MBAccediActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MBAccediActivity" />
        </activity>
        <activity
            android:name=".MBWebViewActivity"
            android:label="@string/title_activity_mbweb_view" >
        </activity>
        <activity
            android:name=".PrefsActivity"
            android:label="@string/title_activity_prefs" >
        </activity>
    </application>

</manifest>
